// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Pocket-Sommelier color pallete:
$white: #FFFFFF;
$background: rgba(249, 239, 233, 1);
$borders: rgba(190, 155, 161, 1);
$fontcolor: rgba(78, 10, 10, 1);
$selected-icons: rgba(78, 10, 10, 1);
$buttons: rgba(185, 152, 158, 1);
