<h1>Pair Wine</h1>

<%= form_with url: recipes_path, method: :get, data: { turbo: false } do |f| %>
  <%= f.collection_select(:wine, @wines, :name, :name, :prompt => "") %>
  <%= f.submit "Pair" %>
<% end %>
