.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border: $selected-icons 2px solid;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-pair {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border: $selected-icons 2px solid;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar-pair-recipe {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border: $selected-icons 2px solid;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}
