.btn-large {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 18px;
  background-color: $selected-icons;
  color: white;
  border-color: $fontcolor;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 90px;
  max-width: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-position {
  margin-top: 50px;
}

.btn-large:hover {
  color: $selected-icons;
  border-color: $selected-icons;
  background-color: $buttons;
}

.btn-large-secondary {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 18px;
  background-color: $buttons;
  color: $fontcolor;
  border-color: $fontcolor;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 90px;
  max-width: 180px;
}

.btn-large-secondary:hover {
  color: white;
  border-color: $selected-icons;
  background-color: $selected-icons;
}

.btn-filter {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 14px;
  background-color: $background;
  color: $fontcolor;
  // border-color: $fontcolor;
  // border-style: solid;
  // border-width: 1px 0 1px 0;
  // border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 45px;
  max-width: 88px;
  min-height: 23px;
  margin-bottom: 1px;
  margin-top: 1px;

}

.active-btn-filter {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: $fontcolor;
  background-color: $buttons;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 45px;
  max-width: 88px;
  min-height: 23px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.btn-filter:hover {
  background-color: $buttons;
  font-weight: bold;
}
