.round-button {
  width: 38px;
  height: 38px;
  border-radius: 2rem;
  background-color: $buttons;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fontcolor;
  margin: 0 8px 0 8px;
}

.button-icon {
  color: white;
  height: 15px;
}

.round-button:hover {
  background-color: $selected-icons;
  color: white;
}

.round-button-mark {
  width: 30px;
  height: 30px;
  border-radius: 2rem;
  background-color: $buttons;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fontcolor;
  text-decoration: none;
  border: none;
  margin-top: 5px;
  margin-right: 0px;
}
